.canvas {
    flex: 1;
    height: 30vh;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    background: radial-gradient(
        at 50% 50%,
        var(--color-shadow-light) 30%,
        var(--color-shadow) 50%,
        transparent 70%
      );
      background-size: contain
}