.round {
  border-radius: 100vmax;
  border: var(--border);
  content: "";
  width: 1ch;
  height: 1ch;
}

.selected {
  background-color: var(--color-header-border);
}

.container {
  width: 100%;
  gap: var(--space-m);
  display: grid;
  box-sizing: border-box;
}
